<!-- views/add-maker.html -->

<form class="form" action="/add-maker" method="POST">
    <input type="text" id="name" name="name" placeholder="Short Name"/><br />
    <input type="text" id="displayName" name="displayName" placeholder="Display Name"/><br />
    <input type="text" id="archivist" name="archivist" placeholder="Keycap Archivist Name" /><br />
    <input type="text" id="instagram" name="instagram" placeholder="Instagram" /><br />
    <button type="submit" id="submit" class="btn-success">Add Maker!</button>
</form>

<div id='ticker'>
    <% if (ticker.makerId) { %>
        <div class="alert-success">Added id: <%= ticker.makerId %>
        </div>
    <% } %>
    <% if (ticker.error) { %>
        <div class="alert-danger">
            <%= ticker.error %>
        </div>
    <% } %>
</div>