<!-- views/artisan-count.html -->
<div class="row">
    <div id="artisan-count-chart" class="col-lg-6" style="width:960px; height:540px" data-json="">

    </div>
    <div id="maker-count-chart" class="col-lg-6" style="width:960px; height:540px" data-json="">

    </div>
</div>
<div class="row">
    <div id="artisan-price-chart" class="col-lg-6" style="width:960px; height:540px" data-json="">

    </div>
    <div id="maker-price-chart" class="col-lg-6" style="width:960px; height:540px" data-json="">

    </div>
</div>