<!-- views/index.html -->


<div class="container">
    <div class="row">
        <% purchases.forEach((purchase, index)=> { %>
            <% if (index % 4==0 && index !=0) { %>
    </div>
    <div class="row">
        <% } %>
            <div class="col-md-3 d-flex align-items-stretch">
                <div id="card-<%= purchase.id %>" class="card text-center <% if (purchase.received) { %> green <% } else {%> red <%} %>">
                    <span  class="toggle-icon clickable text-left" data-id="<%= purchase.id %>" ><i title="Toggle Status" class="fa fa-times">&nbsp;o</i></span>
                    <div class="card-body">

                        <div class="card-title">
                            <a href="/purchase/<%= purchase.id %>" ><img class="card-image" src="<%= purchase.image %>" title="<%= purchase.vendor_name %> "/></a>
                        </div>
                        <div class="card-text">
                            <%= purchase.entity %>
                            <br />
                            <%= purchase.detail %>
                        </div>
                    </div>
                        <div class="card-footer">
                            <div class="row">
                                <span class="text-center col-md-2">
                                    <a href="https://instagram.com/<%= purchase.instagram %>" target="_blank"><img class="card-link ig-link" src="/img/ig.png"></a>
                                </span>
                                <span class="text-center col-md-2">
                                    <a href="<%= purchase.link %>" target="_blank"><img class="card-link www-link" src="/img/www.png"></a>
                                </span>
                                <span class="text-right col-md-8">
                                    <!-- $<%= (purchase.price+purchase.adjustments).toFixed(2) %> -->
                                </span>
                            </div>
                        </div>
                    
                </div>
            </div>
            <% }) %>
    </div>
</div>
</div>
