<!-- views/index.html -->


<div class="container">
    <% for (let purchase of purchases) { %>
    <div class="card">
        <div class="card-body">
            <div class="card-title" ><%= purchase.entity %></div>
            <span class="col-md-6"><a href="/purchase/<%= purchase.id %>" class="card-text" > <%= purchase.detail %></a></span>
            <span class="col-md-6"><a href="/orderset/<%= purchase.orderSet %>" class="card-text"><%= purchase.orderSet %></a></span>
        </div>    
    </div>  
    <% } %>
</div>