<!-- views/makers.html -->
<div class="container my-5">

    <h1 class="h1">
        <%= title %> <span class="small">
                <% if (totals> 0) { %> (<%= totals %>) <% } %>
            </span>
    </h1>
    <div class="container">
        <div class="row">
            <% makers.forEach((maker, index)=> { %>
                <% if (index % 4==0 && index !=0) { %>
        </div>
        <div class="row">
            <% } %>
                <div class="col-md-3 d-flex align-items-stretch">
                    <div class="card text-center">
                        <div class="card-body">

                            <div class="card-title">
                                <a href="/maker/id/<%= maker.id %>">
                                    <img class='card-image'
                                        src="<% if (maker.archivist_id) {%> https://raw.githubusercontent.com/keycap-archivist/website/master/src/assets/img/logos/<%= maker.archivist_id %>.jpg <%} else { %>/img/missing.png<% } %>"
                                        title="<%= maker.display_name %> " /></a> </a>
                            </div>
                            <div class="card-text">
                                <%= maker.display_name %>
                                    $<%= maker.total %>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="https://instagram.com/<%= maker.instagram %>" target="_blank"><img
                                    class="card-link ig-link" src="/img/ig.png"></a>
                        </div>

                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</div>