<h1 class="h1">
    <%= title %> <span class="small spoiler-text">
            <% if (totals> 0) { %> (<%= totals %>) <% } %>
    </span>
</h1>

<table class="table hover border">
<% sale.forEach((item, index) => { %>
    <tr>
        <td><%= item.detail %></td>
        <td><%= item.sculpt %></td>
        <td>
            <a class="link-success" href="/maker/id/<%= item.maker_id %>">
                <%= item.maker_name %>
            </a>
        </td>
        <td>$<%= (item.price + item.adjustments).toFixed(2) %>
        </td>
    </tr>
<% }) %>
</table>