<!-- views/search.html -->
<div class="container-fluid m-5">
    <% if (nav == "search") { %> 
        <form action="" method="POST">
            <div>
                <input type="text" id="searchTag" name="searchTag" placeholder="Search Tags" />
            </div>
        </form>    
    <% } else { %>
        <div class="row no-gutters">
        <% purchases.forEach((purchase, index)=> { %>
        <div class="card">
            <div class="card-title">
                <%= purchase.detail %> - <%= purchase.sculpt %>
            </div>
            <div class="card-body">
                <img class="card-img" src="<%= purchase.image != '' ? purchase.image : 'img/missing.png' %>" />
            </div>
        </card>
        <% }) %>
        </div>
    <% } %>
</div>