<!-- views/index.html -->
<div class="container my-5">

    <div class="row">
        <div class="col">
        <% sculpts.forEach((sculpt, index)=> { %>
            <div>
                <%= sculpt.sculpt %>:<%= sculpt.count %> 
            </div>
        <% }) %>
        </div>
        <div class="col">
            <% totals.forEach((total, index)=> { %>
                <div>
                    <%= total.sculpt %>:<%= total.count %> 
                </div>
            <% }) %>
        </div>
    </div>
</div>