body {
    background-color: lightgrey;
}

.container-fluid {
    /* margin: 20px 50px; */
}
.card {
    width: 15rem;
    height: 25rem;
    margin: 0px 0px 10px 10px;
}

.card-big {
    width: 75%;
    margin: 0px 0px 10px 10px;
}

.card-image {
    width: 150px;

}

.big-card-image {
    width: 32em;
}

.ig-link, .www-link {
    width: 32px;
    height: 32px;
}

.green {
    border-left: 5px solid #73BD07;
}
.red {
    border-left: 5px solid #dd0202;
}

.toggle-icon {
    cursor: pointer;
  }